body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Lucida Console", Courier, monospace;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.mdl-input {
    width: 20ch; /* Made the input fields a little bit wider */
    text-align: center;
    font-size: 2em; /* Made the input fields twice as big */
    padding: 0.25em 0.5em; /* Added some padding for better appearance */
    font-family: "Lucida Console", Courier, monospace;
}
