
#main_frame {
    width: 100%;
    max-width: 800px;
    min-width: 200px;

    font-family: 'Courier New', monospace;
    
    background: white;
    display: block;
    position: relative;
}

.outlined {
    border: solid;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 10px;
    padding: 4px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style inputs */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#offline_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    color: white;
    font-size: 18pt;
    text-align: center;
    display: none;
}

#offline_overlay_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    opacity: 0.5;
    z-index: 110;
}

#offline_overlay_contents {
    margin-top: 10%;
    z-index: 120;
    position: relative;
}


#f_panel_tab {
    background-color: #ccc;
    display: flex;
    height: 140px;
}

#btn_power {
    width: 120px;
    height: 120px;
    background-image: url("/power_btn_off.svg");
    background-size: 100% 100%;
    float: left;
    margin-top: 10px;
}

#btn_reset {
    width: 60px;
    height: 60px;
    background-image: url("/reset_btn.svg");
    background-size: 100% 100%;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}

#leds {
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 40px;
}

.led {
    width: 20px;
    height: 20px;
    background-image: url("/led.svg");
    background-size: 100% 100%;
    margin-left: 10px;
    float: left;
}

.led_tag {
    float: left;
    font-size: 16px;
    margin-top: 2px;
    cursor: default;
}

.tagged_led {
    clear: both;
    padding-top: 10px;
}


.f_panel_button {
    border: none;
    background: none;
}

.f_panel_button:hover {
    filter: drop-shadow(0px 0px 3px #000)
}

.f_panel_button:active {
    filter: drop-shadow(0px 0px 6px #000)
}

#pc_info {
    float: left;
    margin-top: 30px;
    margin-left: 100px;
}

.info_str > pre {
    font-family: 'Courier New', monospace;
}